body {
    font-family: 'Roboto', sans-serif;
    background-color: #e0f7fa;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    margin: 0;
}

.todo-container {
    /* background-color: #ffffff; */
    padding: 30px 40px;
    border-radius: 10px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    width: 100%;
    max-width: 600px;
    text-align: center;
    
}

h1 {
    margin-bottom: 20px;
    font-weight: 500;
    color: #00796b;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px 15px;
    border: 2px solid #00796b;
    border-radius: 5px 0 0 5px;
    outline: none;
}

button {
    padding: 0 20px;
    background-color: #00796b;
    color: #ffffff;
    border: 2px solid #00796b;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #004d40;
}

.todo-stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.todo-stats p {
    margin: 0;
    font-weight: 500;
}

.todo-stats i{
    color: #004d40;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    /* background-color: #f1f1f1; */
    padding: 15px;
    border: 1px solid #163c41;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: #aaa;
}


.delete-button {
    background-color: #d32f2f;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 2px;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #b71c1c;
}

.complete-button {
    background-color: #45d32f;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 2px;
    transition: background-color 0.3s ease;
}

.complete-button:hover {
    background-color: #47f014;
}

/* Adding colorful circles to the background */
.background-circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0.6;
    z-index: 0;
}

.circle-1 {
    width: 150px;
    height: 150px;
    background-color: #ff8a80;
    top: 10%;
    left: 10%;
    z-index: -1;
}

.circle-2 {
    width: 200px;
    height: 200px;
    background-color: #ffd180;
    top: 50%;
    left: 80%;
    z-index: -1;
}

.circle-3 {
    width: 100px;
    height: 100px;
    background-color: #80d8ff;
    top: 70%;
    left: 20%;
    z-index: -1;
}

.circle-4 {
    width: 120px;
    height: 120px;
    background-color: #ccff90;
    top: 30%;
    left: 60%;
    z-index: -1;
}